/** Fonts **/
@font-face {
  font-family: 'Birthstone';
  src: url('./fonts/Birthstone-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ultra';
  src: url('./fonts/Ultra-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  min-height: 100vh;
}

.App::before {
  content: "";
  background-image: url('./images/dome-with-doves.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.3;
  /* Positioning properties for the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main {
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%; /* Ensures the container takes up the full width */
  text-align: center;
}

#setup {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center;   /* Center horizontally */
}

.bottom {
  position: fixed;
  bottom: 20px; /* Adjust distance from the bottom as needed */
  right: 20px;  /* Adjust distance from the right as needed */
  z-index: 11; /* Ensure it's above other elements */
}

/* CSS */
.button-flat-shadow {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-flat-shadow:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-flat-shadow:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-flat-shadow:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.input-flat-shadow {
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  font-family: "Courier New",monospace;
  height: 48px;
  margin: 1rem;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  font-size: 18px;
}

/* another button */
.button-retro {
  background-color: #fbeee0;
  border: 0.2vw solid #422800;
  border-radius: 3vw;
  box-shadow: #422800 0.25vw 0.25vw 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 2.5vw;
  padding: 1vw 3vw;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-retro:hover {
  background-color: #fff;
}

.button-retro:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* title */
.title h1 {
  background-clip: text;
  background-image: linear-gradient(to right, #068465, #0077bc, #1f8522, #ab930b);
  color: #ffffff;
  font-weight: 200;
  font-family: Ultra;
  font-size: 7vw;
  margin: 0;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 16);
  overflow-y: hidden;
}

#challenge {
  font-family: 'Birthstone', cursive;
  font-size: 8vw;
}

/* player tiles */

ul.players {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; /* Wrap items if they overflow */
  padding: 0;
  list-style: none;
  gap: 10px;
}

li.players {
  font-family: "Courier New", monospace;
  font-size: 2em;
  background-color: #d0e7f1; /* Background color */
  border: 2px solid #4ac6f3; /* Border */
  padding: 10px;
  margin: 10px; /* Space between items */
  border-radius: 1rem; /* Rounded corners */
  flex: 0 1 200px; /* Width of each item (adjust as needed) */
  text-align: center;
}

li.players:hover {
  background-color: #acd5e7;
}

img.players {
  max-height: 2rem;
  padding-right: 1rem;
}

/* Pop-up Menu for Players */
.popup-menu {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  z-index: 10;
}

.popup-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popup-menu ul li {
  padding: 8px 12px;
  cursor: pointer;
}

.popup-menu ul li:hover {
  background-color: #f0f0f0;
}

/* Edit Popup */
.edit-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-content input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 16px;
}

.popup-content button {
  padding: 5px 10px;
  margin-right: 10px;
}

/* Game Sessions List */
.gameSessions {
  display: block;
}

ul.gameSessions {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

li.gameSessions {
  border: 2px solid;
  background-color: cornsilk;
  border-radius: 3rem;
  padding: 1rem 3rem 1rem 3rem;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: "Courier New", monospace;
  font-size: 2em;
}

li.gameSessions:hover {
  background-color: #4ac6f3;
}

/* Icon Selection Menu */
.icon-menu {
  /* Style your icon menu as needed (position, size, etc.) */
  position: absolute; /* Or fixed, depending on your needs */
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Responsive grid */
  gap: 10px;
}

.icon-grid img {
  width: 100%;
  height: auto;
  cursor: pointer;
}